@font-face{
	font-family: Alsina;
	src: url('../fonts/AlsinaUltrajada.ttf'),
		 url('../fonts/AlsinaUltrajada.eot'); /* IE9 */
}
@font-face{
	font-family: Tomato;
	src: url('../fonts/TomatoRoundCondensed.ttf'),
		 url('../fonts/TomatoRoundCondensed.eot'); /* IE9 */
}
@font-face{
	font-family: TomatoOblique;
	src: url('../fonts/TomatoRoundCondensed-Oblique.ttf'),
		 url('../fonts/TomatoRoundCondensed-Oblique.eot'); /* IE9 */
}
@font-face{
	font-family: TomatoThin;
	src: url('../fonts/TomatoRoundCondensed-Thin.ttf'),
		 url('../fonts/TomatoRoundCondensed-Thin.eot'); /* IE9 */
}




.loginbox {
    background-color: rgba(255,255,255,0.8);
    position : absolute;
	left : 50%;
	top : 30%;
	
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    
	border-radius: 20px;
    padding:20px;
	
	min-width : 25%;
	min-height: 15%;
	margin-left: -15%;
}

a:link {font-family: 'Alsina', serif; font-size:140%; color:rgb(0,0,0); text-decoration: none}
a:visited {font-family: 'Alsina', serif; font-size:140%; color:rgb(0,0,0); text-decoration: none}
a:hover {font-family: 'Alsina', serif; font-size:140%; color:rgb(80,80,80); text-decoration: none}
a:active {font-family: 'Alsina', serif; font-size:140%; color:rgb(0,0,0); text-decoration: none}

.loginform{font-family: 'Alsina', serif; font-size:120%;}
.loginformmaj{font-family: 'Alsina', serif; font-size:120%;}
.loginerror{font-family: 'Tomato', serif; font-weight:bold; color:rgb(250,0,0);  font-size:100%;}

input[type="text"]{
	width:50%;
	margin-right:10px; 
	background-color:transparent;
	font-family: 'Alsina', serif; font-size:110%; color:rgb(0,0,0); text-decoration: none;
	border:2px;
	border-style:solid;
	border-color:#000000 #000000;
}
input[type="text"]:focus{
	border-color:#666666 #666666;
	outline: 0;
}

input[type="password"]{
	width:50%;
	margin-right:10px; 
	background-color:transparent;
	font-family: 'Alsina', serif; font-size:110%; color:rgb(0,0,0); text-decoration: none;
	border:2px;
	border-style:solid;
	border-color:#000000 #000000;
}
input[type="password"]:focus{
	border-color:#666666 #666666;
	outline: 0;
}

#submitinici {
	background-color:transparent;
	float:right;
	width: 50%;
	height: 100%;
	border: none;
	margin: 0;
	padding: 0;
	font-family: 'Alsina', serif; font-size:140%; color:rgb(0,0,0); text-decoration: none;
	outline: 0;
}




.capcaleratitol{
	font-family: 'Alsina', serif; font-size:160%; color:rgb(0,0,0); text-decoration: none;
	text-align:right;
    margin-top:3%;
    margin-right:10%;
    padding:0px;
}
.capcalerausername{
	font-family: 'Alsina', serif; font-size:120%; color:rgb(0,0,0); text-decoration: none; 
	text-transform:uppercase;
	text-align:right;
	padding-top:2px;
}
.capcalerabarra{
	font-family: 'Alsina', serif; font-size:150%; color:rgb(100,100,100); text-decoration: none;
	margin-right:5px;
	margin-left:5px;
	text-align:right;
}
.capcalerasortir:link{
	font-family: 'Alsina', serif; font-size:120%; color:rgb(0,0,0); text-decoration: none;
	text-align:right;
	margin-right:10%;
	padding-top:2px;
}
.capcalerasortir:visited{
	font-family: 'Alsina', serif; font-size:120%; color:rgb(0,0,0); text-decoration: none;
	text-align:right;
	margin-right:10%;
	padding-top:2px;
}
.capcalerasortir:hover{
	font-family: 'Alsina', serif; font-size:120%; color:rgb(80,80,80); text-decoration: none;
	text-align:right;
	margin-right:10%;
	padding-top:2px;
}
.capcalerasortir:active{
	font-family: 'Alsina', serif; font-size:120%; color:rgb(0,0,0); text-decoration: none;
	text-align:right;
	margin-right:10%;
	padding-top:2px;
}

.capcalerahome:link{
	font-family: 'Alsina', serif; font-size:130%; color:rgb(0,0,0); text-decoration: none; font-weight:bold;
	text-align:right;
	margin-right:10%;
	padding-top:2px;
}
.capcalerahome:visited{
	font-family: 'Alsina', serif; font-size:130%; color:rgb(0,0,0); text-decoration: none; font-weight:bold;
	text-align:right;
	margin-right:10%;
	padding-top:2px;
}
.capcalerahome:hover{
	font-family: 'Alsina', serif; font-size:130%; color:rgb(80,80,80); text-decoration: none; font-weight:bold;
	text-align:right;
	margin-right:10%;
	padding-top:2px;
}
.capcalerahome:active{
	font-family: 'Alsina', serif; font-size:130%; color:rgb(0,0,0); text-decoration: none; font-weight:bold;
	text-align:right;
	margin-right:10%;
	padding-top:2px;
}

.right { float: right }

a.capcalerafletxa:link{
	font-family: 'Tomato', serif; font-size:120%; color:rgb(0,0,0); text-decoration: none; 
	text-align:right;
	padding-top:6px;
}
a.capcalerafletxa:visited {
	font-family: 'Tomato', serif; font-size:120%; color:rgb(0,0,0); text-decoration: none; 
	text-align:right;
	padding-top:6px;
}
a.capcalerafletxa:hover{
	font-family: 'Tomato', serif; font-size:120%; color:rgb(80,80,80); text-decoration: none; 
	text-align:right;
	padding-top:6px;
}
a.capcalerafletxa:active{
	font-family: 'Tomato', serif; font-size:120%; color:rgb(0,0,0); text-decoration: none; 
	text-align:right;
	padding-top:6px;
}







.saladelso {
	position:fixed;
	width:7%;
	height:22%;
	top:12%;
	left:35%;
	background:transparent;
	border:0px;
	text-align:left;
	font-family: 'Alsina', serif; font-size:150%; color:rgb(0,0,0); text-decoration: none;
}
.saladelso:hover{
	background:blue;
}

.saladelaimatge {
	position:fixed;
	width:15%;
	height:30%;
	top:8%;
	left:45%;
	background:transparent;
	border:0px;
	text-align:left;
	font-family: 'Alsina', serif; font-size:150%; color:rgb(0,0,0); text-decoration: none;
}
.saladelaimatge:hover{
	background:green;
}

.saladeljo {
	position:fixed;
	width:15%;
	height:15%;
	top:30%;
	left:6  5%;
	background:blue;
	border:0px;
	text-align:left;
	font-family: 'Alsina', serif; font-size:150%; color:rgb(0,0,0); text-decoration: none;
}






.contingutsbox{
    background-color: rgba(255,255,255,0.2);
    position : absolute;
	left:5%;
	top:8%;
	width:60%;
	min-height:15%;
	padding-left:3%; padding-top:1%;
}

.contingutstitol{
    font-family: 'Alsina', serif; font-size:120%; color:rgb(0,0,0); text-decoration: none;
	text-align:left;
	clear:both;	
}

div.hr{
	background: rgba(255,255,255,0.6) no-repeat scroll center;
	margin-left:-2px;
	margin-right:5%;
	width:95%;
	height:3px;
	clear:both;	
}
div.hr hr{
	display: none;
}

.contingutsimatge50percent{
    position:relative;
	left:0px;
	margin-top:2%;
	margin-bottom:5%;
	margin-right:5%;
	width:40%;
	float:left;
}

input.contingutstextform50percent{
	position:relative;
	width:40%;
	margin-top:2%;
	background-color:rgba(255,255,255,255);
	font-family: 'Alsina', serif; font-size:100%; color:rgb(0,0,0); text-decoration: none;
	border:0px;
	border-color:#000000 #000000;
}
input.contingutstextform50percent:focus{
	outline: 0;
}

input.contingutstextform100percent{
	position:relative;
	width:80%;
	background-color:rgba(255,255,255,100);
	font-family: 'Alsina', serif; font-size:100%; color:rgb(0,0,0); text-decoration: none;
	border:0px;
	border-color:#000000 #000000;
	float:left;
}

input.contingutstextformrequadre{
	position:relative;
	width:40%;
	height: 60px;
	margin-top:2%;
	background-color:rgba(255,255,255,255);
	font-family: 'Alsina', serif; font-size:100%; color:rgb(0,0,0); text-decoration: none;
	border:0px;
	border-color:#000000 #000000;
}
input.contingutstextformrequadre:focus{
	outline: 0;
}

input.contingutstextform100percent:focus{
	outline: 0;
}

.contingutstexttitolresposta{
	position:relative;
	margin-left:10%;
	margin-top:2%;
    font-family: 'Alsina', serif; font-size:110%; color:rgb(140,140,120); text-decoration: none;
	text-align:left;
}

.contingutsboxresposta{
	position:relative;
	margin-left:10%;
	margin-top:2px;
    font-family: 'Alsina', serif; font-size:110%; color:rgb(0,0,0); text-decoration: none;
	text-align:left;
}

.contingutsetiqueta{
	position:relative;
	margin-top:2px;
    font-family: 'Alsina', serif; font-size:110%; color:rgb(0,0,0); text-decoration: none;
	text-align:left;
	float:left;
}